# Python
venv/
__pycache__/
*.pyc

# Env
.env

# Node
node_modules/

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db*.db

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
