/* ===== COURSE LIST ===== */

.course-list {
    display: flex;
    flex-direction: column;
}

/* CARD */
.course-card {
    display: flex;
    border: 1px solid #999;
    padding: 12px;
    margin-bottom: 16px;
    gap: 16px;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 10px;
    background: #fff;
}

.course-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* THUMBNAIL */
.thumbnail {
    width: 180px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #777;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CONTENT */
.course-content {
    flex: 1;
}

.course-content h3 {
    margin: 0 0 6px;
}