.home-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.section-title {
    margin: 20px 0 10px;
    font-weight: bold;
}

/* highlight course riêng của Home */
.course-card.highlight {
    border: 2px solid black;
}